html{font-size: 18px; margin:0;}

body{font-family: 'Roboto', sans-serif; width: 100%; background-color: #0069b3;}
/* *{box-sizing: border-box;}
/*Grid System a 12 colonne*/
/* .col-1{width: 8.33%; float: left;}
.col-3{width: 25%; float: left;}
.col-4{width: 33.32%; float: left;}
.col-6{width: 50%; float: left;}
.col-8{width: 66.64%; float: left;}
.col-9{width: 75%; float: left;}
.col-12{width: 100%; float: left;} */

#menu{background: url(../img/cover.jpg) no-repeat center fixed ; height: 257px;  }
#logo{float: left;}

.navigation{
  list-style: none;
  margin:0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: rgba(255,255,255,0.4);
}

  a{  text-decoration: none;}
.navigation a {
  display: flex;
  color: #0069b3;
  font-size: 1rem;
  padding: 1em;

}
.navigation a:hover{ color:#fcfcfc; text-transform: uppercase; font-size: 1.1rem; background-color:#0069b3; }

.main {
width: 100%;
display:grid;
grid-template-columns: 1fr 1fr;
grid-auto-rows: minmax(100px, auto);
grid-gap: 1em;
}

h1{text-align: center; color: #ddd; text-transform:uppercase;}
hr{width:70%;  border:1px solid #FF9000; }
button{
  width: 100%;
  height: 80px;
  background-color: #0069b3;
   border:none;
     border-radius: 10px;
     color:#ddd;
     text-align: center;
      text-transform: uppercase;
    }
.main   a:hover{
  background-color: #ddd;
  font-size: 1.1rem;
  opacity: 0.4;
  color: #00BD67;
}
.main h1:hover{}
.main > div {
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
}

.notizie{
  background-color:#ddd;
  grid-column: 1;
  grid-row: 1/3;

}
.risultati{
  background-color: #ddd;
  grid-column: 2;
grid-row: 1/3;


}
.prima{
  background-color: #ddd;
  grid-column:1;
  grid-row: 3/5;

}
.giovanili{
  background-color: #ddd;
  grid-column:2;
  grid-row: 3/5;
}
.juniores{
  background-color: #ddd;
  grid-column:1;
  grid-row: 5/7;

}
.bimbi{
  background-color: #0069b3;
  grid-column:2;
  grid-row: 5/7;

}
img{ width: 100%;  }
footer{background-color: #0069b3; text-align: center; width: 100%; margin-top:  2em;}
@media screen and (max-width:800px){
  .main{display:block;}
}
